<div class="ion-display-flex  ion-flex-column" style="width: 100%">

  <div class=" ion-margin">
    <button><ion-icon color="dark" class="imgFlecha" name="arrow-back-outline"></ion-icon></button>


  </div>

  <div style="width: 100%;" class="ion-flex-column ion-display-flex ion-align-items-center ion-margin-top ion-justify-content-center">

    <div>
      <ion-icon class="imgUsuario" name="person-circle-outline" color="dark"></ion-icon>
    </div>

    <div class="ion-display-flex ion-flex-column ion-margin-top">

      <h1>Nombre</h1>

      <h4>Samuel Leyton Rojas</h4>


      <h1>Descripción</h1>

      <h4>Deportista y extrovertido</h4>

      <h1>Amigos</h1>

      <h4>0</h4>


      <div style="margin-top: 30%" class="ion-display-flex ion-justify-content-center">
        <button class="boton_editar">Editar</button>
      </div>

    </div>

  </div>

</div>
