.contenedor-centrado{
  display: flex;
  justify-content: center;
  width: 100%;

}

.botones-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  padding: 16px;
  width: 80%;
}

.botonesNavegacion {
  width: 80px;
  background-color: purple;
  border-radius: 15px;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.botonesTamanio{
  width: 60%;
}
