h4{

  font-family: "Arial Black";

}


.borderBottom{

  width: 80%;
  border-bottom:solid 1px black;

}

.icono{
  font-size: 75px;
}


button{
  margin-top: 10%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.69);
  width: 75%;
  height: 120px;
}
