<ion-toolbar class="navegacion ">
  <ion-grid>
    <ion-row class="ion-justify-content-between ion-align-items-center ion-flex-nowrap">
      <ion-col  size="auto">
        <ion-button><img src="assets/img/arrow.png" class="tamanioImagen"></ion-button>
      </ion-col>

      <ion-col size="auto">
        <ion-row class="ion-align-items-center ion-flex-nowrap">
        <ion-col class="ion-display-flex ion-justify-content-center ion-align-items-center">
          <ion-button><img src="../../assets/img/arrowChat.webp" class="tamanioImagen"></ion-button>
        </ion-col>
        <ion-col>
          <ion-button><img src="../../assets/img/campana.png" class="tamanioImagen"></ion-button>
        </ion-col>
        <ion-col>
          <ion-button><img src="../../assets/img/cuenta.png" class="tamanioImagen"></ion-button>
        </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
