<ion-header>
  <app-menu-navegacion></app-menu-navegacion>
</ion-header>

<ion-content >

  <app-botones-navegacion>

  </app-botones-navegacion>

  <app-botones-formulario-inicio>

  </app-botones-formulario-inicio>

  <app-boton-grande-accion texto="Ji ome">

  </app-boton-grande-accion>

  <app-boton-grande-accion texto="OOOAAAA">

  </app-boton-grande-accion>

  <app-cartas-ropa></app-cartas-ropa>

  <app-buscar-usuarios>

  </app-buscar-usuarios>

 <app-formulario-campos>

 </app-formulario-campos>

</ion-content>
