<div class="ion-display-flex ion-justify-content-center ion-margin">


 <div class="contenedorShop">

  <div class="contenedorShopDentro">
    <div style="display: flex;align-items: center;justify-content: center;margin-left: 5%">
       <img class="images" src="assets/img/carrito.png">
    </div>
    <div class="ion-display-flex ion-flex-column">
      <div class="ion-display-flex ion-justify-content-center" style="margin-right: 8%;margin-top: 12%">
        <h1>Disponible</h1>
      </div>


      <div class="ion-display-flex ion-justify-content-center" style="margin-right: 8%">
        <ion-icon class="imgestrellas" name="star-outline"></ion-icon>
        <ion-icon class="imgestrellas" name="star-outline"></ion-icon>
        <ion-icon class="imgestrellas" name="star-outline"></ion-icon>
      </div>
    </div>
  </div>
 </div>
</div>
